table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 73rem;
}


.example-icon {
    padding: 0 5px;
    cursor: pointer;
}

.catalogo {

    padding-right: 5rem;
    padding-left: 6px;
    color: white;
    text-decoration: none;
}

.mat-raised-button {
    width: 15%;
    margin-top: 5px;
}