a {
    color: white;
}

.navbar {
    justify-content: center;
}

.container {
    width: 73rem;
    display: inline-flex;
}

.catalogo {
    padding-left: 6px;
    text-decoration: none;
}

.administrative {
    padding-left: 10px;
    padding-top: 4px;
}

.example-icon {
    padding-top: 4px;
    cursor: pointer;
}

.login {
    padding-left: 44rem;
}