<mat-toolbar class="navbar" color="primary">
  <div class="container">
    <mat-icon routerLink="/dashboard-user" class="example-icon">commute</mat-icon>
    <a routerLink="/dashboard-user" routerLinkActive="active" name="catalogo" class="nav-link catalogo">Catalogo
      Carros</a>


    <mat-icon class="administrative" routerLink="/login">account_circle</mat-icon>
    <a style="text-decoration: none;" routerLinkActive="active" routerLink="/login">Area
      Administrativa</a>

    <mat-icon class="example-icon login" routerLink="/login">account_circle</mat-icon>
    <a style="text-decoration: none;" routerLinkActive="active" routerLink="/login" name="login">Login</a>
  </div>
</mat-toolbar>